/* src/components/css/CambiarContra.css */
.cc-popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .cc-cambiarContra {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
  }
  
  .cc-cambiarContra h2 {
    margin-bottom: 10px;
  }
  
  .cc-cambiarContra input {
    width: 250px/*calc(100% - 20px)*/;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .cc-cambiarContra button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
  }
  
  .cc-cambiarContra button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .cc-error-message {
    color: red;
  }
  
  .cc-success-message {
    color: green;
  }
  